@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "WorkSans";
  src: url("../../assets/fonts/WorkSans-Regular.ttf");
}
@font-face {
  font-family: "WorkSans";
  src: url("../../assets/fonts/WorkSans-Medium.ttf");
}

@font-face {
  font-family: "WorkSans";
  src: url("../../assets/fonts/WorkSans-SemiBold.ttf");
}

@font-face {
  font-family: "WorkSans";
  src: url("../../assets/fonts/WorkSans-Bold.ttf");
}
